*{
  margin: 0px;
  padding: 0px;
}

.sidebar{
  width:18vw;
  height: 90vh;
  background-color: black;
  position: fixed;
}

#logo{
  margin-left: 25px;
}
#lastpic{
 margin-left: 25px;
 margin-top: 50px; 
}
.sidebar .navigation{
  background-color:black;
  width: 15vw;
  /*padding-top: 10px;
  padding-bottom: 10px;
  padding-left:30px;
  border-radius: 10px;*/
}

.sidebar .navigation ul{
   text-decoration: none;
   list-style: none;
}
.sidebar .navigation ul li{
    text-decoration: none;
    margin-top: 20px;
    width: 200px;
    padding-bottom: 10px;
    padding-left: 50px;
    border-radius: 6px;
}
.sidebar .navigation ul li:hover{
   background-color:#252525;
}  
.sidebar .navigation ul li span{
    color: white;
}

.sidebar .navigation ul li span span{
    text-decoration: none;
    margin-top: 10px;
    padding-left:10px;
    color: white;
}

.sidebar .playlist{
  background-color: black	;
  width: 15vw;
  margin-top: 10px;
  /*padding-top: 10px;
  padding-bottom: 10px;
  padding-left:30px;
  border-radius: 10px;*/

}

.sidebar .playlist ul{
   text-decoration: none;
   list-style: none;
}
.sidebar .playlist h4{
   font-weight: normal;
   color: white;
   font-size: 13px;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 50px;
}

.sidebar .playlist ul li{
    text-decoration: none;
    margin-top: 20px;
    width: 200px;
    padding-bottom: 10px;
    padding-left: 50px;
    border-radius: 6px;
}
.sidebar .playlist ul li:hover{
   background-color:#252525;
}
.sidebar .playlist ul li span{
    color: white;
}

.sidebar .playlist ul li span span{
    text-decoration: none;
    padding-left:10px;
    color: white;
}
.player{
  width: 100vw;
  height: 10vh;
  top: 90%;
  background-color: #181818;
  display: flex;
  position: fixed;
}

.player #songpic{
   margin-top: 15px;
   margin-left: 15px;
   margin-right:0px;
}
.player #songname{
 color: #ffffff;
 font-weight: normal;
 padding-left: 20px;
 padding-top: 20px;
}

.player #heart{
  font-size: 15px;
  color: white;
  margin-top: 25px;
  margin-left: 10px;
}
.player #icon{
  margin-top: 25px;
  margin-left: 10px;
}
.player #shuffle{
    position: absolute;
    left:35vw;
    top: 10px;
}
.player #backward{
    position: absolute;
    left:42vw;
    top: 10px;
}
.player #play{
    position: absolute;
    color: white;
    left:50vw;
    top: 2.2vh;
    font-size: 13px;
}
.player #forward{
    position: absolute;
    left:57vw;
    top: 10px;
}
.player #repet{
    position: absolute;
    left:64.5vw;
    top: 2.2vh;
}
.player #playnav{
    position: absolute;
    top: 5.5vh;
    left:30vw;
}
.player #playtime1{
     font-size: 12px;
     color:white;
     top: 6vh;
     left:28vw;
     position: absolute;
}
.player #playtime2{
     font-size: 12px;
     color:white;
     top: 6vh;
     left:73vw;
     position: absolute;
}
.player #lastoptions{
     top: 5.8vh;
     left:88vw;
     position: absolute;
}
.player #songname p{
   font-size: 15px;
   padding-top: 4px;
}

.main{
  bottom: 10%;
  top: 0px;
  width: 82vw;
  height: 90vh;
  background-image: linear-gradient(to top,#000000,#90AEA7);
  left:18% ;
  position: fixed;
}

th{
  height: 15vh;
}

.main table{
  width: 100%;
  color: white;
  position: absolute;
  bottom: 0.01%;
  border-collapse: collapse;
}
.main table tr th p{
    margin-top: 90px;
    font-weight: normal;
    font-size: 11px;
}
.main table tr td{
  text-align: center;
  height: 4vh;
}
.main .tabletitle dev img{
    width: 20px;
    margin-right:10px;
    margin-left: 15px;
}
.hoverrow:hover{
   background-color: #252525;
}
.main table tr td span{
     font-size: 10px;
}
.main .tabletitle{
  display: flex;
  rigth: 40px;
  position: absolute;	
} 

.main .hero{
  display: flex;
  color: #ffffff;
  margin-top: 50px;
}
.main .hero .herotext{
    margin-top: 60px;
}
.main .hero h1{
  font-size:100px;
}
.main .hero div img{
  width: 250px;
  margin-right: 20px;
  margin-left: 20px;
}

#hedingspotify{
  font-size: 30px;
  font-weight: bolder;
}

#lastpera{
  font-size: 10px;
}
.heart-logo{
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
}

.heart-logo div{
  margin-left: 15px;
}